<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    <li class="facebook"><a href="http://facebook.com/{{ site.owner.facebook }}" title="my Facebook"><span class="count"><i class="fa fa-facebook-square"></i> 脸书</span></a></li>
    <li class="twitter"><a href="http://twitter.com/{{ site.owner.twitter }}" title="my Twitter"><span class="count"><i class="fa fa-twitter-square"></i> 推特</span></a></li>
    <li class="weibo"><a href="http://www.weibo.com/{{ site.owner.weibo }}" title="my weibo"><span class="count"><i class="fa fa-weibo"></i> 微博</span></a></li>
    <li class="weibo"><a href="http://www.github.com/{{ site.owner.github }}" title="my githup"><span class="count"><i class="fa fa-github"></i> github</span></a></li>
  </ul>
</div>

